click==7.1.2
colorama==0.4.4
Flask==1.1.4
importlib-metadata==4.8.1
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==2.0.1
psycopg2-binary==2.9.1
sqlparse==0.4.2
tabulate==0.8.9
typing-extensions==3.10.0.2
Werkzeug==1.0.1
yoyo-migrations==7.3.2
zipp==3.6.0
